body{
    background-color: plum;
    font-family: "Titillium Web", sans-serif;
}

h1{
    size: 32px;
}

.intro{
  text-align: center;
}

a{
  font-style: italic;
  text-decoration: none;
  text-decoration-color: plum;
}

p{
    font: 1em sans-serif;
    size: 10px;
}

.weather-app{
  padding: 30px;
  background:white;
  margin: 0 auto;
  max-width: 500px;
  border-radius: 10px;
  padding: 35px;
  box-shadow: 0 20px 40px rgba(65, 50, 100, 0.08);
}

  h1 {

    line-height: 28px;
  
  }
  
  
  
  p {
  
    font-size: 14px;
    line-height: 1.5;
  
  }

  body {

    font-size: 18px;
  
  }

  h1 {

    font-weight: normal;
  
  }
  
  #answer{
    
        background-color: violet;
        padding: 10px 25px;
        border-radius: 6px;
        color: white;
        margin-left: 25px;
        font-size: 17px;
  }

  #form-input{
    background-color: violet;
    padding: 10px 25px;
    border-radius: 6px;
    color: white;
    font-size: 17px;
    border: none;
}

.humid, .wind{
  color: red;
}

.weather-icon{
  width: 60px;
  height:60px;
  margin-top: 10px; 
}

.current-weather{
  display: flex;
}
  
  
  p {
    font-weight: 700;
  }

  #temperature{
    font-size: 60px;
    font-weight: 400;
    font-style: bold;
  }

  #metric{
    font-size: 20px;
    margin-top: 10px;
    font-style: bold;
  }

  footer{
    text-align: center;
  }
  
  a {
    font-weight: 100;
  }

  
  #weather-div{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }

 

  main{
    padding: 40px 0px;
  }

/* For the rest of the daily updates */
 
.weather-forecast {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}


  
.weather-day {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 10px;
  justify-content: center;
}


.daily-icon {
  font-size: 38px;
  text-align: center;
  justify-content: center;

}
.weather-values{
  display: flex;
  color:red;
  margin-top: 10px;
  text-align: center;
  justify-content: center;
}

.weather-temp {
  padding: 0 10px;
}